name: SAST - Semgrep

on:
  push:
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep Scan
        run: |
          semgrep scan \
            --config p/semgrep-rules \
            --config p/security-audit \
            --exclude ".github/**" \
            --exclude "**/node_modules/**" \
            --exclude "**/vendor/**" \
            canonicalization-example \
            fastbank-auth-lab \
            fastbank_insecure_classwork \
            idor \
            sql-examples \
            xss-examples \
            --sarif --output semgrep.sarif

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
